.inputs {
    display: flex;
    flex-direction: column;

    margin-bottom: auto;

    width: 100%;
    height: 100%;

    padding: 0 40px;

    position: relative;

    gap: 20px;

    .input {

        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;

        gap: 5px;

        position: relative;

        label{
            color: #fff;
            font-size: 13px;
            font-weight: 300;
            margin-bottom: 4px;
        }

        .icon{
            position: absolute;
            color: #fff;
            top: 37px;
            left: 5px;
        }

        input {
            border: 1px solid rgba(255, 255, 255, 0.411);
            color: #fff;
            padding: 10px 28px;
            border-radius: 4px;

            background-color: transparent;
        }
    }


}