.container {
    background-color: #1a1c21;

    width: 40px;
    height: calc(100vh);
    position: fixed;
    top: 0px;
    left: 0px;

    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 0 5px #050506;


    z-index: 10;

    padding-top: 30px;

    a {
        width: fit-content;
        height: fit-content;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #a1d2f370;

        margin: 30px;

        transition: 0.3s;

        &:hover {
            transition: 0.3s;
            color: #a1d2f3;
        }

    }
}