.container {
    background-color: #dfdbd2;

    width: 40px;
    height: calc(100vh);
    position: fixed;
    top: 0px;
    left: 0px;

    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 0 5px #dfdbd2;


    z-index: 10;

    padding-top: 30px;
    a {
        width: fit-content;
        height: fit-content;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #989489;
        margin: 30px;

    }
}