.container {
    width: 330px;
    min-height: 420px;
    height: fit-content;

    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--grayDarkPrimary);
    border-radius: 4px;

    position: relative;

    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.208);

    .c_signIn,
    .c_signUp {
        .inputs {
            display: flex;
            flex-direction: column;

            margin-bottom: auto;

            width: 100%;
            height: 100%;

            padding: 0 40px;

            position: relative;

            gap: 15px;
        }
    }

    .tick {
        background-color: #a88a63d2;
        width: 70px;
        height: 18px;
        position: absolute;
        top: -10px;
        right: 120px;

        border-radius: 2px;

        transform: rotateZ(-175deg);
    }
}