.footer {
    background-color: var(--yellowLightPrimary);
    height: 24px;
    width: 100%;

    border-radius: 0 0 4px 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;

        li,
        a {
            display: flex;
            justify-content: center;
            align-items: center;

            list-style: none;
            color: var(--grayDarkPrimary);

            font-size: 1.1em;

            margin: 0 1px;
            padding: 0 3px;
            font-weight: 300;


            &:hover,
            &:focus {
                outline: 1px solid var(--grayDarkPrimary);
                border: none;
            }

        }
    }
}