.container {
    min-height: 100vh;
    width: calc(100vw - var(--menuWidth));
    margin-left: var(--menuWidth);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    line-height: 1.5;
    color: #1f1f1e;

    padding: 30px;

}

@media (max-width: 450px) {
    .container {
        width: calc(100vw - var(--menuWidthMobile));
        margin-left: var(--menuWidthMobile);

    }
}