:root{
    --primaryColor: #ff9f19;
    --secondaryColor: #1f1f1e;

    --primaryColorPastelDark25opacity: #715e438a;

    --primaryColorPastelDark: #7b6240;
    --primaryColorPastelLight: #c4a67d;

    --primaryColorPastel: #f8b557;


    --primaryColorVivid: #ff9500;

    --labelColor: #8e8e8e;
    --h1Color: #f3f3f3;
    --h2Color: #8e8d8d;
}