*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    font-weight: 500;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 100vw;
    overflow-x: hidden;

    background-color: #ff9f19;

}


:root {
    --menuWidth: 50px;
}

.active{
    color: #ff9f19;
}