*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
}

body {
    font-family: Poppins;
    font-weight: 500;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 100vw;
    overflow-x: hidden;

    background-color: var(--notesBG);
}

:root {
    --menuWidth: 200px;
    --menuWidthMobile: 80px;
}

.active {
    color: #ff9f19;
}

.container {
    min-height: 100vh;
    width: calc(100vw - var(--menuWidth));
    margin-left: var(--menuWidth);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    line-height: 1.5;
    color: #1f1f1e;

    padding: 30px;
}

@media (max-width: 450px) {
    .container {
        width: calc(100vw - var(--menuWidthMobile));
        margin-left: var(--menuWidthMobile);

    }
}

// @import 'themes/dark.scss';
// @import 'themes/light.scss';