.input {

    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 5px;
    margin: 1px;

    position: relative;

    animation: toDownAnimation 0.3s linear;

    label {
        color: var(--labelColor);
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 2px;
    }

    .icon {
        position: absolute;
        color: var(--labelColor);
        top: 37px;
        left: 5px;
    }

    input {
        border: 1px solid var(--labelColor);
        color: var(--h1Color);
        padding: 10px 28px;
        border-radius: 4px;

        background-color: transparent;

        box-shadow: 0 0 0px 1000px var(--secondaryColor) inset;
        -webkit-box-shadow: 0 0 0px 1000px var(--secondaryColor) inset;
        -webkit-text-fill-color: var(--labelColor);

        &:focus{
            border: 1px solid var(--primaryColor);
            outline: none;

            box-shadow: 0 0 0px 1000px var(--secondaryColor) inset;
            -webkit-box-shadow: 0 0 0px 1000px var(--secondaryColor) inset;
            -webkit-text-fill-color: var(--labelColor);
        }

        &:not(:focus) {
            -webkit-text-fill-color: var(--labelColor);
        }

        &:not(:placeholder-shown) {
            -webkit-text-fill-color: var(--h1Color);
        }
    }
}


@keyframes toDownAnimation {
    0% {
        opacity: 0%;
        top: -10px;
    }

    50% {
        opacity: 20%;
    }

    100% {
        opacity: 100%;
        top: 0;
    }
}