.input {

    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 5px;

    position: relative;

    label {
        color: var(--grayDarkLight);
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 2px;
    }

    .icon {
        position: absolute;
        color: var(--grayDarkMedium);
        top: 37px;
        left: 5px;
    }

    input {
        border: 1px solid var(--grayDarkMedium);
        color: var(--write);
        padding: 10px 28px;
        border-radius: 4px;

        background-color: transparent;

        box-shadow: 0 0 0px 1000px var(--grayDarkPrimary) inset;
        -webkit-box-shadow: 0 0 0px 1000px var(--grayDarkPrimary) inset;

        &:focus {
            outline: 1px solid var(--yellow75opacity);
        }
        &:not(:focus){
            -webkit-text-fill-color: var(--grayDarkMedium);
        }
        &:not(:placeholder-shown){
            -webkit-text-fill-color: var(--write);
        }
    }
}